
#contentComment {
  border-radius: 5px;
 
  display: block;
  width: 100%;
  resize: none;
  line-height: 1.4;
  overflow: hidden;
  height: auto;
  padding: 8px;
  font-size: 18px;
  outline: none;
  background-color: #f0efef;
}

