a, a:active, a:visited {
    text-decoration: none;
}

li, ul {
    list-style-type: none;
}
.MuiTooltip-popper {
    height: 20px!important;
    /* top: -10px !important; */
}
.MuiTooltip-tooltip {
      color: var(--color-bg)!important;
      background-color: transparent!important;
      /* color: black!important; */
  }