*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
    --color-main: #f5c518;
    --yellow: #f4d978;

    --color-secondary: #33c5f3;
    --color-bg: #f0efef;
    --color-hover: #d9d7d7;
    --white: #fff;
    --white-second: #ffffffe6;
    --color-input:#f0efef;
    --black: #2c2c2c;
    --black-second: #535252;
    --blue: #5799ef;
    --red: #e02828;
    --orange: #ee4d2d;
    /* --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  